* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(13, 72, 149, 0.8), rgba(42, 99, 232, 0.8)), url(images/back.jpeg);
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	
	height: 50vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 50px;
    height:50px;
	padding: 15px 0;
}
#q{
    height:70px;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 200px;
	margin: 10% 30%;
	text-align:top;
}
.welcome-text h1 {
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	font-size: 50px;
}
.welcome-text h1 span {
	color: #000000;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}

/*cards*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 5cm;
    padding: 16px;
    text-align: center;
    background-color: #4cad94;
  }
  .card h3{
      font-size: 25px;
  }

  .btn{
	width: 40%;
	background: none;
	border: 2px solid #87e3d1;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 5cm;
	margin-left: 38%;
  }

#table{
	width: 90%;
}
